#status:empty
  display:none
  
#status
  border-top 1px dotted #A88
  margin-top 5px
  padding-top 5px
  padding 3px
  font-size 80%
  
.status-error
  border 1px solid #B66
  color #B00
  padding 2px

.status-log
  border 1px solid #666
  color #BBB
  padding 2px

//#reconection_div
//  border-bottom 1px solid red
//  color #800


#keep-alive-signal
  position fixed
  left 0px
  top 0px
  height 15px
  width 15px
  border 1px solid black
  border-radius 4px
  font-size 70%
  text-align center
  z-index -1
//  display none