.tedede-grid
  background rgb(230,230,230,0.5)

.tedede-grid caption
  background rgb(230,230,230,0.5)

border-table()
  border-bottom 2px solid #997
  border-top    2px solid #997
  border-left   2px solid #997
  border-right  2px solid #997
  margin 0px
  border-spacing 0px
  border-collapse collapse
  
.tedede-grid
  border-table()

nowrap()
  white-space pre
  overflow hidden
  max-width 300px
  
.tedede-grid td
  border-table()
  nowrap()

.tedede-grid tr td x
  border-bottom   2px solid #666
  border-top      2px solid #DDD

.tedede-grid th
  border-table()

.tedede-grid tbody th
  nowrap()

.tedede-grid caption
  border-table()

[io-status=pending]
  background-color #CDE
  
[io-status=updating]
  background-color #ABC
  
[io-status=error]
  background-color #DAA

[io-status=temporal-ok]
  background-color #ADA

.table-button
  margin 0px
  border 0px
  padding 0px
.table-button:active
  background #EEE
.table-button img
  height 16px