gridColor = rgba(255,255,255,0.9)

.my-grid
  background gridColor

.my-grid caption
  background gridColor

border-table()
  border-bottom 2px solid #997
  border-top    2px solid #997
  border-left   2px solid #997
  border-right  2px solid #997
  margin 0px
  border-spacing 0px
  border-collapse collapse
  
.my-grid
  border-table()

nowrap()
  white-space pre
  overflow hidden
  max-width 300px
  
.my-grid td
  border-table()
  nowrap()

.my-grid tr td x
  border-bottom   2px solid #666
  border-top      2px solid #DDD

.my-grid th
  border-table()

.my-grid tbody th
  nowrap()

.my-grid caption
  border-table()

.my-grid tfoot
  color #777
  font-size 90%

.my-grid thead th
  white-space nowrap
  
.th-name
  overflow hidden
  
.my-grid thead th.th-detail
  font-size 60%
  white-space wrap

[io-status=pending]
  background-color #CDE
  
[io-status=updating]
  background-color #ABC
  
[io-status=error]
  background-color #DAA

[io-status=temporal-ok]
  background-color #ADA

.table-button
  margin 0px
  border 0px
  padding 0px

.table-button
  background-color gridColor

.table-button img
  height 16px

.autoFilter
  width 30px
  
[has-filter='1'] 
  [when-filter=no] 
    display none
  [when-filter=yes] 
    display inherit

[has-filter='0']
  [when-filter=yes] 
    display none
  [when-filter=no] 
    display inherit

.filter-span
  display inline-block
  background-color #CEF
  min-height 20px
  min-width 20px

.filter-line
  th
    padding 0px
    vertical-align bottom
    
.filter-line
  td
    padding 0px
    vertical-align bottom

.grid-dummy-cell-ini
  height: 1px;
  width: 1px;
  transition: height 0.6s ease;

.grid-dummy-cell-del
  transition: height 0.6s ease;

@keyframes animateheight {
    from {transform: scaleY(0.1)}
    to {transform: scaleY(1)}
}
