doctype html
html(lang=lang)
  head
    link(rel='stylesheet', href=skinUrl+'css/login.css')
    style.
      .logintableImgRow{
        display: none
      }
      .iconostd{
        display: none
      }
      p{
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        min-width: 50%;
        width: 400px;
        max-width: 100%;
      }
      img{
        margin-top: 64px;
        margin: 32px;
      }
      div{
        text-align: center;
      }
  body
    div
      img.formImg(src='img/login-logo-icon.png')
    p.
      Se ha solicitado el restablecimiento de contraseña para la dirección de correo electrónico ingresada. 
      Si esta corresponde a un usuario activo en nuestro sistema, en breve recibirá un mensaje con un enlace seguro para establecer una nueva contraseña. 
    p.
      Le pedimos revisar su bandeja de entrada, incluyendo las carpetas de correo no deseado o spam y las de correos no prioritarios.
