doctype html
html(lang=lang)
  head
    link(rel='stylesheet', href=skinUrl+'css/login.css')
    style.
      .logintableImgRow{
        display: none
      }
      .iconostd{
        display: none
      }
      p{
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        min-width: 50%;
        width: 400px;
        max-width: 100%;
      }
      img{
        margin-top: 64px;
        margin: 32px;
      }
      div{
        text-align: center;
      }
  body
    div
      img.formImg(src='img/login-logo-icon.png')
    p.
      Si la dirección es válida y corresponde a un usuario registrado y activo 
      se enviará un correo electrónico con un enlace para ingresar una nueva contraseña.
    p.
      Aguarde unos minutos y reivse su casilla (no se olvide de buscar en las carpetas no prioritarias).
