doctype html
html(lang="en")
  head
    title index
    link(rel='stylesheet', href='my-things.css')
    link(rel='stylesheet', href='my-tables.css')
    link(rel='stylesheet', href='index.css')
  body
    div#main_layout
      div#barra_superior
        span tables
        button#tables(id-table="ptable" ) ptable
        button#tables(id-table="pgroups") pgroups
        button#tables(id-table="isotopes") isotopes
        button#tables(id-table="element_images") images
      div#table_layout
    pre#status
    script(src='best-globals.js')
    script(src='js-to-html.js')
    script(src='tedede.js')
    script(src='ajax-best-promise.js')
    script(src='my-things.js')
    script(src='my-tables.js')
    script(src='index.js')
