doctype html
html(lang="en")
  head
    title index
    link(rel='stylesheet', href='index.css')
  body
    div#main_layout
      div#barra_superior
        span tables
        button#tables ptable
        button#tables pgroups
      div#table_layout
      pre#status
    script(src='best-globals.js')
    script(src='js-to-html.js')
    script(src='tedede.js')
    script(src='ajax-best-promise.js')
    script(src='index.js')
