body
  font-family arial
  background-color #ddd
 
#metadatos
  font-family arial
  margin 5px

border-table()
  border 2px solid #997
  
.tedede-grid
  border-table()
  border-collapse collapse

.tedede-grid td
  border-table()

.tedede-grid th
  border-table()

.tedede-grid caption
  border-table()
