doctype html
html(lang="en")
  head
    title index
    link(rel='stylesheet', href='dialog-promise.css')
    link(rel='stylesheet', href='my-things.css')
    link(rel='stylesheet', href='my-tables.css')
    link(rel='stylesheet', href='menu.css')
  body
    div#main_layout
      div#barra_superior
        span tables
        button#tables(id-table="ptable" ) ptable
        button#tables(id-table="pgroups") pgroups
        button#tables(id-table="isotopes") isotopes
        button#tables(id-table="element_images") images
        button#tables(id-table="bigint") bigint
      div#table_layout
    pre#status
    script(src='js-yaml.js')
    script(src='require-bro.js')
    script(src='best-globals.js')
    script(src='json4all.js')
    script(src='dialog-promise.js')
    script(src='js-to-html.js')
    script(src='big.js')
    script(src='type-store.js')
    script(src='typed-controls.js')
    script(src='ajax-best-promise.js')
    script(src='my-things.js')
    script(src='my-tables.js')
    script(src='my-inform-net-status.js')
    if(false)
      script(src='cliente-en-castellano.js') 
    script(src='menu.js')
