body
  font-size 120%
  font-family arial, sans-serif
  
input
  font-size 100%

.formtd input
  width 200px
  
.logintableImgRow
  display none
  
.iconostd
  display none
  
#loginFormRightImg  
  height 120px