body
  font-size 120%
  font-family arial, sans-serif
  
input
  font-size 100%

.formtd input
  width 200px

.logintableLogoImgRow
  text-align center

#loginFormRightImg  
  height 120px

.forgetLabel
  text-align right
  font-size 80%  

.formtd input#email
  width 500px