body
  font-family arial
 
#metadatos
  font-family arial
  margin 5px

#barra_superior button
  margin 5px
  
.my-grid td[my-colname="titulo"]
  max-width 500px
  
.my-grid td[my-colname="dondepublicado"]
.my-grid td[my-colname="publicacion"]
  max-width 800px