doctype html
html(lang="en")
  head
    title index
    link(rel='stylesheet', href='dialog-promise.css')
    link(rel='stylesheet', href='my-things.css')
    link(rel='stylesheet', href='my-tables.css')
    link(rel='stylesheet', href='index.css')
  body
    div#main_layout
      div#div_fichas
        a#tools(href='admin')
          img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Tools-spanner-hammer.svg/48px-Tools-spanner-hammer.svg.png')
        img#imgCentral(src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Pittura-Painting6.JPG/640px-Pittura-Painting6.JPG')
      div#div_miniaturas
    pre#status
    script(src='js-yaml.js')
    script(src='require-bro.js')
    script(src='best-globals.js')
    script(src='json4all.js')
    script(src='dialog-promise.js')
    script(src='js-to-html.js')
    script(src='typed-controls.js')
    script(src='ajax-best-promise.js')
    script(src='my-things.js')
    script(src='my-tables.js')
    script(src='my-inform-net-status.js')
    script(src='cliente-en-castellano.js') 
    script(src='index.js')
