body
  font-family arial
  background-color white
  
.bloque
  padding 15px
  background-color white
  border 1px solid aaa
  
#titulo
  font-family arial
  font-size 200%
  
.preguntas
  font-size 110%
  
.multiple
  font-size 110%
  
.texto
  font-size 110%

.celda[typed-controls-tipo=texto]
  border-top 1px solid gray

.celda[typed-controls-tipo=pregunta]
  border-top 1px solid gray

.celda[typed-controls-tipo=pregunta][typed-controls-subtipo=multiple]
  border-top 0px solid gray
      
.celda[typed-controls-tipo=texto]
  border 1px solid gray

.celda[typed-controls-tipo=texto][typed-controls-subtipo=multiple]
  border 0px solid red
  border-top 1px solid gray

.opciones
  margin-top 12px
  font-size 110%
  
.opciones div
  margin-top 6px
  
.boolean div
  display inline-block
  padding-left 6px
  padding-right 6px
  
.celda
  padding 12px
  padding-left 24px
  
.aclaracion
  font-style italic
  font-size 90%
  
  
.codigo 
  display: none !important
  
.modo-revisar .codigo
  display: inherit !important
  float: left
  margin-right: 10px
  font-size: 90%
  color: magenta
  font-weight: bold
  
.multiple
  display inline
  
  
.conjunto-preguntas-multiples
  display table
  
.conjunto-preguntas-multiples > div
  display table-row

.conjunto-preguntas-multiples > div > .multiple
  padding-left 48px

.conjunto-preguntas-multiples > div > div
  display table-cell
  padding-left 12px
  
#div-modo-revisar
  display none
  
.provisorio
  color #B0B
  
.modal-contenido{
  background-color:rgba(0,100,100,.8);
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
.modal{
  visibility:hidden;
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;  
}

.number > input
  width 40px
  
[typed-controls-var="t4"]
  width 70px
  
.boton-abrir-formulario
  color #999

[typed-controls-disabled=disabled]{
  color #999
}

[typed-controls-disabled=disabled][deshabilitado=invisible]{
  display none
}

.option-more-info
  padding-left 30px

.mas-info-multiple div
  display inline
  padding-left 5px
  
.mas-info-multiple
  padding-left 10px
  
.especial-resaltar
  color red

.especial
  font-weight bold

.orden-1
  border 1px solid gray
  padding 15px
  margin-top 12px
  margin-right -10px
  margin-left -25px
  font-family arial
  font-size: 110%;
  margin-bottom -12px

@media (max-width: 480px)
  #logo-encuesta
    width 480px
    margin 0 0 20px 0
  
@media (min-width: 480px) and (max-width: 768px)
  #logo-encuesta
    width 100%
    margin 0 0 50px 0

@media (min-width: 768px) and (max-width: 1152px)
  #logo-encuesta
    width 768px
    margin 0 0 50px 0

@media (min-width: 1152px)
  #logo-encuesta
    width 67%
    margin 0 0 50px 0
