doctype html
html(lang="en")
  head
    title.Encuesta
    link(rel='stylesheet', href='/continuar.css')
  body
    div#pantalla
    script(src='js-to-html.js')
    script(src='ajax-best-promise.js')
    script(src='continuar.js')