doctype html
html(lang="en")
  head
    title.Encuesta
    link(rel='stylesheet', href='continuar.css')
  body
    div#imagen
    div#menu_bar
    div#pantalla
    br
    div.modal#placa_grabando
      div.modal-contenido
        GRABANDO
    script(src='lodash.js')
    script(src='best-globals.js')
    script(src='regexplicit.js')
    script(src='js-to-html.js')
    script(src='typed-controls.js')
    script(src='ajax-best-promise.js')
    script(src='post-action.js')
    script(src='continuar.js')
    script(src='agrega-logo.js')
    