body
  font-family arial
  background-color #ddd
  
.bloque
  padding 15px
  background-color #ddd
  border 1px solid aaa
  
#titulo
  font-family arial
  font-size 300%
  
  
.preguntas
  font-weight bold
    
.opciones
  font-weight bold
  
