body
  font-family arial
  background-color #ddd
  
.bloque
  padding 15px
  background-color #ddd
  border 1px solid aaa
  
#titulo
  font-family arial
  font-size 200%
  
.preguntas
  border-top 1px solid gray
  font-size 110%
  
.multiple
  font-size 110%
  
.texto
  border-top 1px solid gray
  font-size 110%
    
.opciones
  margin-top 12px
  font-size 110%
  
.opciones div
  margin-top 6px
  
.boolean div
  display inline-block
  padding-left 6px
  padding-right 6px
  
.celda
  padding 12px
  padding-left 24px
  
.aclaracion
  font-style italic
  font-size 90%
  
  
.codigo 
  display: none !important
  
.modo-revisar .codigo
  display: inherit !important
  float: left
  margin-right: 10px
  font-size: 90%
  color: magenta
  font-weight: bold
  
.multiple
  display inline
  
  
.conjunto-preguntas-multiples
  display table
  
.conjunto-preguntas-multiples > div
  display table-row

.conjunto-preguntas-multiples > div > div
  display table-cell
  padding-left 48px
  
#div-modo-revisar
  display none