doctype html
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible",content="IE=10")
    title.fin-ingreso
    link(rel='stylesheet', href='fin-ingreso.css')
  body
    div#pantallaIngreso
    pre#status
    script(src='polyfills-bro.js')
    script(src='js-to-html.js')
    script(src='best-globals.js')
    script(src='typed-controls.js')
    script(src='ajax-best-promise.js')
    script(src='post-action.js')
    script(src='fin-ingreso.js')
    script(src='agrega-logo.js')
    script(src='cliente-en-castellano.js')