body
  font-family arial
  background-color white
 
#metadatos
  font-family arial
  margin 5px
  color magenta
  
#logo-encuesta
  width 50%
  margin 50px

p
  text-indent 2.0em

prettyButton()
  height 50px
  background-color blue
  color white
  font-family arial
  font-weight bold
  border 0px
  border-radius 15px
  font-size 110%
  margin-right 15px
  
#iniciar
  width 160px
  prettyButton()
 
#continuar
  width 250px
  prettyButton()
  
#nueva
  width 160px
  prettyButton()
  
#ingresado-fin
  width 160px
  prettyButton()