doctype html
html(lang="en")
  head
    title.Bienvenido
    link(rel='stylesheet', href='continuar.css')
  body
    div#pantalla
    script(src='js-to-html.js')
    script(src='best-globals.js')
    script(src='tedede.js')
    script(src='ajax-best-promise.js')
    script(src='post-action.js')
    script(src='index.js')
