body
  font-family arial
  background-color white
 
#metadatos
  font-family arial
  margin 5px
  color magenta
  
#logo-encuesta
  width 50%
  margin 50px

p
  text-indent 2.0em

#iniciar
  width 150px
  height 50px
  background-color blue
  color white
  font-family arial
  font-weight bold
  border 0px
  border-radius 15px
 
#continuar
  width 200px
  height 50px
  background-color blue
  color white
  font-family arial
  font-weight bold
  border 0px
  border-radius 15px
  
#nueva
  width 150px
  height 50px
  background-color blue
  color white
  font-family arial
  font-weight bold
  border 0px
  border-radius 15px
  
#ingresado-fin
  width 150px
  height 50px
  background-color blue
  color white
  font-family arial
  font-weight bold
  border 0px
  border-radius 15px