body
  font-family arial
  background-color #ddd
  
#preDiv
  width 700 px
  height 1000 px
  margin 10 px

#status
    border 1px solid black
    height 50px
    width  50%
    margin 10 px
    font-family arial
    font-size 20px
    padding 5px