doctype html
html(lang="en")
  head
    title.Encuesta
    link(rel='stylesheet', href='metadatos.css')
  body
    div#pantalla
    br
    pre#status
    script(src='best-globals.js')
    script(src='regexplicit.js')
    script(src='js-to-html.js')
    script(src='tedede.js')
    script(src='ajax-best-promise.js')
    script(src='post-action.js')
    script(src='metadatos.js')
    