body
  font-size 120%
  font-family arial, sans-serif
  
input
  font-size 100%

.formtd input
  width 200px

.logintableLogoImgRow
  text-align center
  
.chpasstableImgRow
  display none
  
.iconostd
  display none
  
#chpassFormRightImg  
  height 140px