#right-menu
  float right
  
img.right-menu
  height 20px
  
#main-top-bar
  padding 4px
  border-bottom 1px solid #AAA

#main-top-bar *
  vertical-align top
  margin-left 8px

.menu-item
  font-family arial
  color black
  text-decoration none
  border 1px solid
  height 24px
  padding 4px
  background-color #ddd
  border-top 1px solid #eee
  border-left 1px solid #eee
  border-bottom 1px solid #ccc
  border-right 1px solid #ccc
  margin-top 4px
  
.menu-item[menu-selected=yes]
  background-color #eee