gridColor = rgba(255,255,255,0.9)

.my-grid
  background gridColor

.my-grid caption
  background gridColor

border-table()
  border-bottom 2px solid #997
  border-top    2px solid #997
  border-left   2px solid #997
  border-right  2px solid #997
  margin 0px
  border-spacing 0px
  border-collapse collapse
  
.my-grid
  border-table()

nowrap()
  white-space pre
  overflow hidden
  max-width 300px
  
.my-grid td
  border-table()
  nowrap()

/*  
.my-grid[my-orientation=vertical] td
  border-table()
  white-space wrap
  overflow scroll
*/  

.my-grid tr td x
  border-bottom   2px solid #666
  border-top      2px solid #DDD

.my-grid th
  border-table()

.my-grid tbody th
  nowrap()

.my-grid caption
  border-table()

.my-grid tfoot
  color #777
  font-size 90%

.my-grid thead th
  white-space nowrap
  
.th-name
  overflow hidden
  
.my-grid thead th.th-detail
  font-size 60%
  white-space wrap

[io-status=pending]
  background-color #CDE
  
[io-status=updating]
  background-color #ABC
  
[io-status=error]
  background-color #DAA

[io-status=temporal-ok]
  background-color #ADA

[io-status=write-read-conflict]
  background-color #DAD

[io-status=background-change]
  background-color #ADD

.table-button
  margin 0px
  border 0px
  padding 0px

.table-button
  background-color gridColor

.table-button img
  height 16px

.autoFilter
  width 30px
  
[has-filter='1'] 
  [when-filter=no] 
    display none
  [when-filter=yes] 
    display inherit

[has-filter='0']
  [when-filter=yes] 
    display none
  [when-filter=no] 
    display inherit

.filter-span
  display inline-block
  background-color #CEF
  min-height 20px
  min-width 20px

.filter-line
  th
    padding 0px
    vertical-align bottom
    
.filter-line
  td
    padding 0px
    vertical-align bottom

.grid-dummy-cell-ini
  height: 1px;
  width: 1px;
  transition: height 0.6s ease;

.grid-dummy-cell-del
  transition: height 0.6s ease;

@keyframes animateheight {
  from {transform: scaleY(0.1)}
  to {transform: scaleY(1)}
}

.empty-right-column{
  background-color inherit !important
  border inherit !important
  padding 0 !important
}

.my-grid td.autoFilter{
  nowrap()
  white-space nowrap
}

td.autoFilter button{
  display inline-block
}

.number-decimals
  font-size 90%
 
.date-year
  font-size 90%

.img-lupa
  height 16px
  
[my-orientation=vertical].my-grid 
  td
    max-width 700px
    white-space inherit
    overflow inherit
  th
    text-align left
    max-width 700px

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
    
rotate-infinite()
  -webkit-animation-name rotate 
  -webkit-animation-duration 2s
  -webkit-animation-iteration-count infinite
  -webkit-animation-timing-function linear
  
.dialog-export
  .img-preparing
    height 64px
    width  64px
    margin-bottom 10px
    rotate-infinite()
  .state-preparing
    display inherit
  .state-ready
    display none
  .state-ready-txt
    display none
.dialog-export[current-state="ready"]
  .state-preparing
    display none
  .state-ready
    display inherit
  .state-ready-txt
    display inherit
  
.dialog-menu .mini-menu-opt-img
  height 24px
  width  24px
  border 2px
  padding 2px
  
[inherited-pk-column=yes]
  display none
  background-color #CCC
  
[show-inherited-keys=yes] [inherited-pk-column=yes]
  display table-cell
  
.hide-or-menu
  min-width 100px

.my-grid
  tfoot
    th
      text-align left
.head-info
    text-align left
    padding 4px
    font-weight normal
    font-size 90%